@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {

    font-family: "Lato" ;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( to top left , rgba(106, 0, 254, 0.832) , rgb(0, 204, 255));

}

.inner-box {
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    /* background-color: rgba(255, 255, 255, 0.534); */
    background: linear-gradient(to top left , #ffffffff , #ffffff33) ;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    box-shadow: 4px 4px 8px #b700ff;
    z-index: 2;


}

.signup-header h1 {

    font-size: 2.5rem;
    color: rgb(77, 29, 210);
    text-align: center;
    font-family: cursive;

}

.signup-header p {
    font-size: 1rem;
    color:#555 ;

}

.signup-body {
    margin: 20px 0;

}

.signup-body p{

    margin:10px 0;

}

.signup-body p label {

    display :block;
    font-weight: bold;


}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #602bdbcc;
    border-radius: 4px;
    font-size: 1rem;
    margin: 4px;

}

.signup-body p input[type="submit"] {
    background-color: #f08080 ;
    border : none;
    color: #212;
    cursor: pointer;

}

.signup-body p input[type="submit"]:hover {
    background-color: #e85050 ;
 

}

.signup-footer{
    color: #555;
    text-align: center;

}
.signup-footer p a {
    color: rgb(91, 91, 251);
    text-decoration: none;

}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    background: linear-gradient(to top right , #ffffff33, white);
    position: absolute;
    
}

.c1 {

    top: 100px;
    left: 40px;
}

.c2 {
    bottom: 150px;
    right: 50px ;
}